# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
RewriteBase /


RewriteEngine on

RewriteRule ^((?!basic/web/).*)$ basic/web/$1 [L,NC]




# Заборона індексації всіх папок
Options -Indexes

ErrorDocument 403 /403.php
ErrorDocument 404 /404.php